
   <%- include('./partials/header') %>

    <main class="main-container">

      
        <a href="productos?categoria=tortas" class="main_image_father">
            <img src="./imgs/porcion_torta_amarillo.jpg" alt="Torta de chocolate" class="main_image">
          </a>
     

        <section class="main_collection">

            <a href="productos?categoria=muffins" class="main_image_father">
            <img src="./imgs/muffins.jpg" alt="Muffins en recipiente" class="collection__cover">
        </a>

        <a href="productos?categoria=boxes" class="main_image_father">
             <img src="./imgs/box_galletas.jpg" alt="Box de Galletas" class="collection__cover">
         </a>     

        <a href="productos?categoria=galletas" class="main_image_father">
             <img src="./imgs/galletas_en_mano.jpg" alt="Galletas con chispas de chocolate" class="collection__cover">
            </a> 

        </section>

            <hr class="gray-line">

    <div class="nuestras_delicias">
        <h1 class="collection-title">Nuestras delicias</h1>
        <img src=/imgs/svgs/corazon.svg" alt="corazon" class="corazon">
    </div>
        
        <section class="secondary_collection">

            <article class="secondary_collection_part">
                <img src="./imgs/galletas_en_mano.jpg" alt="" class="secondary__collection__image">
                <h2 class="secondary__collection__title">Cookies Artesanales</h2>
            </article>

                
            <article class="secondary_collection_part">
                <img src="./imgs/muchos_muffins.jpg" alt="" class="secondary__collection__image">
                <h2 class="secondary__collection__title" >Cupcakes variados</h2>  
            </article>  

            <article class="secondary_collection_part">
                <img src="./imgs/torta_marron_copos.jpg" alt="" class="secondary__collection__image">
                <h2 class="secondary__collection__title" >Tortas Personalizadas</h2>
            </article>  

        </section>


        <%- include('./partials/pagePromo') %>
       
       
    </main>

 
    <%- include('./partials/footer') %>


   
