/* NORMALIZACION */

body{  font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #CE4A20;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

ul, ol {
    list-style-type: none;  
    }
    
    a {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: inherit;
    color: white;
    }
    
  

