<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%> </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<header class="page-header">

    <nav class="navbar">

            <a href="/home">
                <img src="/imgs/logo_cortado.png" alt="logo de la marca" class="navbar__logo" width: 100px>
            </a>
       

        <ul class="navbar__menu">

            <li class="menu_item">
                <a href="/productos">Productos</a>
            </li>

            <li class="menu_item">
                <a href="/contacto">Contacto</a>
            </li>

            <li class="menu_item">
                <a href="/about">Sobre nosotros</a>
            </li>

        </ul>

        <form class="search_bar" action="">
            <input type="text" id="search" placeholder="Buscar en tienda">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

      

    </nav>

</header>