<h2 class="social_media">Podes encontrarnos en <br> nuestro instagram:</h2>
<hr class="gray-line2">
<a href="https://www.instagram.com/pasteleriaok/" class="instagram_promo">
    <img src="/imgs/svgs/instagram-logo.svg" alt="logo_instagram" class="logo_instagram">
    <h2 class="instagram_name">@PASTELERIAOK</h2>
</a>